* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px;

  background-color: rgb(100, 125, 200);
}

.title {
  font-size: 30px;
  font-weight: normal;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 230px;
  min-width: 215px;
  font-size: 20px;
}

.marked {
  font-weight: bold;
}

.banner {
  background-color: rgb(232, 124, 47);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.banner__symbol,
.banner__text {
  margin: 20px;
}

.banner__symbol {
  font-size: 40px;
}

.banner__text {
  font-size: 30px;
}
