* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: rgb(255, 150, 58);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header,
.banner,
.menu,
.list__item,
.checkbox-product,
.price-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 80px;
  padding: 20px;
  background-color: rgb(100, 125, 200);
}

.title {
  font-size: 30px;
  font-weight: normal;
}

.menu {
  height: 30px;
  width: 230px;
  min-width: 215px;
  font-size: 20px;
}

.marked {
  font-weight: bold;
}

.banner {
  background-color: rgb(232, 124, 47);
  height: 80px;
}

.banner__symbol,
.banner__text {
  margin: 20px;
}

.banner__symbol {
  font-size: 40px;
}

.banner__text {
  font-size: 30px;
}

.listContainer {
  margin: 20px;
  margin-top: 50px;
}

.list__item {
  font-size: 30px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-right: 20px;
}

.list__button {
  font-size: 30px;
  border: none;
  background-color: transparent;
  margin: 10px;
  margin-left: 40px;
}

.deleted {
  text-decoration: line-through;
}

.total {
  border-top: 1px solid white;
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  font-size: 45px;
}

.form {
  margin: 20px;
  margin-top: 40px;
}

h2 {
  font-weight: normal;
  font-size: 35px;
  margin-bottom: 15px;
}

.separator {
  margin: 10px;
  margin-left: 0;
  font-size: 20px;
}

input[type="text"] {
  height: 50px;
  width: 300px;
  border: none;
  margin-right: 10px;
}

.euro {
  font-size: 25px;
}

.submit {
  color: white;
  background-color: rgb(101, 128, 203);
  border: none;
  height: 35px;
  width: 70px;
  font-size: 15px;
}
